<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.18.0.187838</string>
	</array>
	<key>AutoAdjust</key>
	<false/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {806, 536}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2014-03-12 08:18:31 +0000</string>
	<key>Creator</key>
	<string>Henrik Kramshoej</string>
	<key>DisplayScale</key>
	<string>1.000 cm = 1.000 m</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{562.25, 301.79864501953125}, {123, 42}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>37</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>0</integer>
						<key>RTFD</key>
						<data>
						BAtzdHJlYW10eXBlZIHoA4QBQISE
						hBJOU0F0dHJpYnV0ZWRTdHJpbmcA
						hIQITlNPYmplY3QAhZKEhIQITlNT
						dHJpbmcBlIQBKx5LLTkgYW5kIEFQ
						RzogCkVuY3J5cHRlZCBFLW1haWyG
						hAJpSQEMkoSEhAxOU0RpY3Rpb25h
						cnkAlIQBaQWShJaWBk5TRm9udIaS
						hISEBk5TRm9udB6UmRiEBVsyNGNd
						BgAAABAAAAD//kEAcgBpAGEAbABN
						AFQAhAFmD4QBYwCdAZ0AnQCGkoSW
						lgdOU0NvbG9yhpKEhIQHTlNDb2xv
						cgCUnQKEBGZmZmYAg4mICD4AAYaS
						hJaWBk5TTGlua4aShISEBU5TVVJM
						AJSdAJKElpYuaHR0cDovL2NvZGUu
						Z29vZ2xlLmNvbS9wL2s5bWFpbC9k
						b3dubG9hZHMvbGlzdIaGkoSWlhBO
						U1BhcmFncmFwaFN0eWxlhpKEhIQX
						TlNNdXRhYmxlUGFyYWdyYXBoU3R5
						bGUAhIQQTlNQYXJhZ3JhcGhTdHls
						ZQCUhARDQ0BTBACEhIQHTlNBcnJh
						eQCUmQCGgSAChARbMmZdFSSGkoSW
						lhFOU0JhY2tncm91bmRDb2xvcoaS
						hJ6dAp8BAQEBhoaXAhKShJiZBJKj
						koSlowQAp4EgAqUVJIaSqZKqkpmS
						hJuZJIQFWzM2Y10GAAAAGgAAAP/+
						QQByAGkAYQBsAC0AQgBvAGwAZABN
						AFQAAACcD50AnQGdAJ0AhpKckoSe
						nQKfg6uqqj6Dq6qqPoOrqqo+AYaG
						hg==
						</data>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf190
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 ArialMT;}
{\colortbl;\red255\green255\blue255;\red2\green26\blue0;\red255\green255\blue255;\red67\green67\blue67;
}
\deftab720
\pard\pardeftab720\sl420
{\field{\*\fldinst{HYPERLINK "http://code.google.com/p/k9mail/downloads/list"}}{\fldrslt 
\f0\fs30 \cf2 \cb3 K-9 and APG:}}
\f0\b\fs30 \cf4 \cb3  \
Encrypted E-mail}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{559.75, 208.79864501953125}, {93, 93}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>38</integer>
					<key>ImageID</key>
					<integer>9</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>36</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{298.20135498046875, 451.59728506787326}, {214, 42}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>33</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf190
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 ArialMT;}
{\colortbl;\red255\green255\blue255;\red255\green255\blue255;}
\deftab720
\pard\pardeftab720\sl420
{\field{\*\fldinst{HYPERLINK "http://www.whispersystems.org/"}}{\fldrslt 
\f0\fs30 \cf0 \cb2 TextSecure:\
Short Messaging Service (SMS)}}}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{293.79864501953125, 363.19457013574663}, {83.402714932126699, 83.402714932126699}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>34</integer>
					<key>ImageID</key>
					<integer>11</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>32</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{294.29864501953125, 297}, {223, 42}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>29</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>0</integer>
						<key>RTFD</key>
						<data>
						BAtzdHJlYW10eXBlZIHoA4QBQISE
						hBJOU0F0dHJpYnV0ZWRTdHJpbmcA
						hIQITlNPYmplY3QAhZKEhIQITlNT
						dHJpbmcBlIQBKytDU2lwU2ltcGxl
						OiAKRW5jcnlwdGVkIFZvaWNlIE92
						ZXIgSVAgKFZPSVAphoQCaUkBCpKE
						hIQMTlNEaWN0aW9uYXJ5AJSEAWkF
						koSWlgZOU0ZvbnSGkoSEhAZOU0Zv
						bnQelJkYhAVbMjRjXQYAAAAQAAAA
						//5BAHIAaQBhAGwATQBUAIQBZg+E
						AWMAnQGdAJ0AhpKElpYHTlNDb2xv
						coaShISEB05TQ29sb3IAlJ0ChARm
						ZmZmAIOJiAg+AAGGkoSWlgZOU0xp
						bmuGkoSEhAVOU1VSTACUnQCShJaW
						JGh0dHA6Ly9jb2RlLmdvb2dsZS5j
						b20vcC9jc2lwc2ltcGxlL4aGkoSW
						lhBOU1BhcmFncmFwaFN0eWxlhpKE
						hIQXTlNNdXRhYmxlUGFyYWdyYXBo
						U3R5bGUAhIQQTlNQYXJhZ3JhcGhT
						dHlsZQCUhARDQ0BTBACEhIQHTlNB
						cnJheQCUmQCGgSAChARbMmZdFSSG
						koSWlhFOU0JhY2tncm91bmRDb2xv
						coaShJ6dAp8BAQEBhoaXAiGShJiZ
						BJKjkoSlowQAp4EgAqUVJIaSqZKq
						kpmShJuZJIQFWzM2Y10GAAAAGgAA
						AP/+QQByAGkAYQBsAC0AQgBvAGwA
						ZABNAFQAAACcD50AnQGdAJ0AhpKc
						koSenQKfg6uqqj6Dq6qqPoOrqqo+
						AYaGhg==
						</data>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf190
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 ArialMT;}
{\colortbl;\red255\green255\blue255;\red2\green26\blue0;\red255\green255\blue255;\red67\green67\blue67;
}
\deftab720
\pard\pardeftab720\sl420
{\field{\*\fldinst{HYPERLINK "http://code.google.com/p/csipsimple/"}}{\fldrslt 
\f0\fs30 \cf2 \cb3 CSipSimple}}
\f0\b\fs30 \cf4 \cb3 : \
Encrypted Voice Over IP (VOIP)}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{293.79863739013672, 213.59728506787332}, {83.402714932126699, 83.402714932126699}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>30</integer>
					<key>ImageID</key>
					<integer>10</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>28</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{34.29864501953125, 437.59728506787326}, {187, 42}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>22</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>0</integer>
						<key>RTFD</key>
						<data>
						BAtzdHJlYW10eXBlZIHoA4QBQISE
						hBJOU0F0dHJpYnV0ZWRTdHJpbmcA
						hIQITlNPYmplY3QAhZKEhIQITlNT
						dHJpbmcBlIQBKyRLZXlTeW5jOiAK
						U3luY2luZyBUcnVzdGVkIElkZW50
						aXRpZXOGhAJpSQEHkoSEhAxOU0Rp
						Y3Rpb25hcnkAlIQBaQWShJaWBk5T
						Rm9udIaShISEBk5TRm9udB6UmRiE
						BVsyNGNdBgAAABAAAAD//kEAcgBp
						AGEAbABNAFQAhAFmD4QBYwCdAZ0A
						nQCGkoSWlgdOU0NvbG9yhpKEhIQH
						TlNDb2xvcgCUnQKEBGZmZmYAg4mI
						CD4AAYaShJaWBk5TTGlua4aShISE
						BU5TVVJMAJSdAJKElpYpaHR0cHM6
						Ly9ndWFyZGlhbnByb2plY3QuaW5m
						by9hcHBzL2tleXN5bmOGhpKElpYQ
						TlNQYXJhZ3JhcGhTdHlsZYaShISE
						F05TTXV0YWJsZVBhcmFncmFwaFN0
						eWxlAISEEE5TUGFyYWdyYXBoU3R5
						bGUAlIQEQ0NAUwQAhISEB05TQXJy
						YXkAlJkAhoEgAoQEWzJmXRUkhpKE
						lpYRTlNCYWNrZ3JvdW5kQ29sb3KG
						koSenQKfAQEBAYaGlwIdkoSYmQSS
						o5KEpaMEAKeBIAKlFSSGkqmSqpKZ
						koSbmSSEBVszNmNdBgAAABoAAAD/
						/kEAcgBpAGEAbAAtAEIAbwBsAGQA
						TQBUAAAAnA+dAJ0BnQCdAIaSnJKE
						np0Cn4Orqqo+g6uqqj6Dq6qqPgGG
						hoY=
						</data>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf190
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 ArialMT;}
{\colortbl;\red255\green255\blue255;\red2\green26\blue0;\red255\green255\blue255;\red67\green67\blue67;
}
\deftab720
\pard\pardeftab720\sl420
{\field{\*\fldinst{HYPERLINK "https://guardianproject.info/apps/keysync"}}{\fldrslt 
\f0\fs30 \cf2 \cb3 KeySync}}
\f0\b\fs30 \cf4 \cb3 : \
Syncing Trusted Identities}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{34.29864501953125, 354.19457013574657}, {83.402714932126699, 83.402714932126699}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>23</integer>
					<key>ImageID</key>
					<integer>12</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>21</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{34.29864501953125, 292.20135498046875}, {164, 42}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>25</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>0</integer>
						<key>RTFD</key>
						<data>
						BAtzdHJlYW10eXBlZIHoA4QBQISE
						hBJOU0F0dHJpYnV0ZWRTdHJpbmcA
						hIQITlNPYmplY3QAhZKEhIQITlNT
						dHJpbmcBlIQBKx1Pc3RlbDogCkVu
						Y3J5cHRlZCBQaG9uZSBDYWxsc4aE
						AmlJAQWShISEDE5TRGljdGlvbmFy
						eQCUhAFpBZKElpYGTlNGb250hpKE
						hIQGTlNGb250HpSZGIQFWzI0Y10G
						AAAAEAAAAP/+QQByAGkAYQBsAE0A
						VACEAWYPhAFjAJ0BnQCdAIaShJaW
						B05TQ29sb3KGkoSEhAdOU0NvbG9y
						AJSdAoQEZmZmZgCDiYgIPgABhpKE
						lpYGTlNMaW5rhpKEhIQFTlNVUkwA
						lJ0AkoSWlhFodHRwczovL29zdGVs
						LmNvL4aGkoSWlhBOU1BhcmFncmFw
						aFN0eWxlhpKEhIQXTlNNdXRhYmxl
						UGFyYWdyYXBoU3R5bGUAhIQQTlNQ
						YXJhZ3JhcGhTdHlsZQCUhARDQ0BT
						BACEhIQHTlNBcnJheQCUmQCGgSAC
						hARbMmZdFSSGkoSWlhFOU0JhY2tn
						cm91bmRDb2xvcoaShJ6dAp8BAQEB
						hoaXAhiShJiZBJKjkoSlowQAp4Eg
						AqUVJIaSqZKqkpmShJuZJIQFWzM2
						Y10GAAAAGgAAAP/+QQByAGkAYQBs
						AC0AQgBvAGwAZABNAFQAAACcD50A
						nQGdAJ0AhpKckoSenQKfg6uqqj6D
						q6qqPoOrqqo+AYaGhg==
						</data>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf190
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 ArialMT;}
{\colortbl;\red255\green255\blue255;\red2\green26\blue0;\red255\green255\blue255;\red67\green67\blue67;
}
\deftab720
\pard\pardeftab720\sl420
{\field{\*\fldinst{HYPERLINK "https://ostel.co/"}}{\fldrslt 
\f0\fs30 \cf2 \cb3 Ostel}}
\f0\b\fs30 \cf4 \cb3 : \
Encrypted Phone Calls}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{34.29864501953125, 208.79864501953125}, {83.402714932126699, 83.402714932126699}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>26</integer>
					<key>ImageID</key>
					<integer>8</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{559.75, 461.99322509765625}, {127, 42}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>40</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>0</integer>
						<key>RTFD</key>
						<data>
						BAtzdHJlYW10eXBlZIHoA4QBQISE
						hBJOU0F0dHJpYnV0ZWRTdHJpbmcA
						hIQITlNPYmplY3QAhZKEhIQITlNT
						dHJpbmcBlIQBKxtQaXhlbGtub3Q6
						IApIaWRkZW4gTWVzc2FnZXOGhAJp
						SQEJkoSEhAxOU0RpY3Rpb25hcnkA
						lIQBaQWShJaWBk5TRm9udIaShISE
						Bk5TRm9udB6UmRiEBVsyNGNdBgAA
						ABAAAAD//kEAcgBpAGEAbABNAFQA
						hAFmD4QBYwCdAZ0AnQCGkoSWlgdO
						U0NvbG9yhpKEhIQHTlNDb2xvcgCU
						nQKEBGZmZmYAg4mICD4AAYaShJaW
						Bk5TTGlua4aShISEBU5TVVJMAJSd
						AJKElpYsaHR0cHM6Ly9ndWFyZGlh
						bnByb2plY3QuaW5mby9hcHBzL3Bp
						eGVsa25vdC+GhpKElpYQTlNQYXJh
						Z3JhcGhTdHlsZYaShISEF05TTXV0
						YWJsZVBhcmFncmFwaFN0eWxlAISE
						EE5TUGFyYWdyYXBoU3R5bGUAlIQE
						Q0NAUwQAhISEB05TQXJyYXkAlJkA
						hoEgAoQEWzJmXRUkhpKElpYRTlNC
						YWNrZ3JvdW5kQ29sb3KGkoSenQKf
						AQEBAYaGlwISkoSYmQSSo5KEpaME
						AKeBIAKlFSSGkqmSqpKZkoSbmSSE
						BVszNmNdBgAAABoAAAD//kEAcgBp
						AGEAbAAtAEIAbwBsAGQATQBUAAAA
						nA+dAJ0BnQCdAIaSnJKEnp0Cn4Or
						qqo+g6uqqj6Dq6qqPgGGhoY=
						</data>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf190
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 ArialMT;}
{\colortbl;\red255\green255\blue255;\red2\green26\blue0;\red255\green255\blue255;\red67\green67\blue67;
}
\deftab720
\pard\pardeftab720\sl420
{\field{\*\fldinst{HYPERLINK "https://guardianproject.info/apps/pixelknot/"}}{\fldrslt 
\f0\fs30 \cf2 \cb3 Pixelknot}}
\f0\b\fs30 \cf4 \cb3 : \
Hidden Messages}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{559.75, 363.194580078125}, {93, 93}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>41</integer>
					<key>ImageID</key>
					<integer>7</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>39</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{616.60067749023438, 135}, {144, 42}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>43</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>0</integer>
						<key>RTFD</key>
						<data>
						BAtzdHJlYW10eXBlZIHoA4QBQISE
						hBJOU0F0dHJpYnV0ZWRTdHJpbmcA
						hIQITlNPYmplY3QAhZKEhIQITlNT
						dHJpbmcBlIQBKx9PYnNjdXJhQ2Ft
						OiAKVGhlIFByaXZhY3kgQ2FtZXJh
						hoQCaUkBCpKEhIQMTlNEaWN0aW9u
						YXJ5AJSEAWkFkoSWlgZOU0ZvbnSG
						koSEhAZOU0ZvbnQelJkYhAVbMjRj
						XQYAAAAQAAAA//5BAHIAaQBhAGwA
						TQBUAIQBZg+EAWMAnQGdAJ0AhpKE
						lpYHTlNDb2xvcoaShISEB05TQ29s
						b3IAlJ0ChARmZmZmAIOJiAg+AAGG
						koSWlgZOU0xpbmuGkoSEhAVOU1VS
						TACUnQCShJaWLWh0dHBzOi8vZ3Vh
						cmRpYW5wcm9qZWN0LmluZm8vYXBw
						cy9vYnNjdXJhY2FtL4aGkoSWlhBO
						U1BhcmFncmFwaFN0eWxlhpKEhIQX
						TlNNdXRhYmxlUGFyYWdyYXBoU3R5
						bGUAhIQQTlNQYXJhZ3JhcGhTdHls
						ZQCUhARDQ0BTBACEhIQHTlNBcnJh
						eQCUmQCGgSAChARbMmZdFSSGkoSW
						lhFOU0JhY2tncm91bmRDb2xvcoaS
						hJ6dAp8BAQEBhoaXAhWShJiZBJKj
						koSlowQAp4EgAqUVJIaSqZKqkpmS
						hJuZJIQFWzM2Y10GAAAAGgAAAP/+
						QQByAGkAYQBsAC0AQgBvAGwAZABN
						AFQAAACcD50AnQGdAJ0AhpKckoSe
						nQKfg6uqqj6Dq6qqPoOrqqo+AYaG
						hg==
						</data>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf190
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 ArialMT;}
{\colortbl;\red255\green255\blue255;\red2\green26\blue0;\red255\green255\blue255;\red67\green67\blue67;
}
\deftab720
\pard\pardeftab720\sl420
{\field{\*\fldinst{HYPERLINK "https://guardianproject.info/apps/obscuracam/"}}{\fldrslt 
\f0\fs30 \cf2 \cb3 ObscuraCam}}
\f0\b\fs30 \cf4 \cb3 : \
The Privacy Camera}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{616.60067749023438, 42}, {93, 93}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>44</integer>
					<key>ImageID</key>
					<integer>6</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>42</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{362, 135}, {217, 42}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>46</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>0</integer>
						<key>RTFD</key>
						<data>
						BAtzdHJlYW10eXBlZIHoA4QBQISE
						hBJOU0F0dHJpYnV0ZWRTdHJpbmcA
						hIQITlNPYmplY3QAhZKEhIQITlNT
						dHJpbmcBlIQBKylDaGF0U2VjdXJl
						OiAKUHJpdmF0ZSBhbmQgU2VjdXJl
						IE1lc3NhZ2luZ4aEAmlJAQqShISE
						DE5TRGljdGlvbmFyeQCUhAFpBZKE
						lpYGTlNGb250hpKEhIQGTlNGb250
						HpSZGIQFWzI0Y10GAAAAEAAAAP/+
						QQByAGkAYQBsAE0AVACEAWYPhAFj
						AJ0BnQCdAIaShJaWB05TQ29sb3KG
						koSEhAdOU0NvbG9yAJSdAoQEZmZm
						ZgCDiYgIPgABhpKElpYGTlNMaW5r
						hpKEhIQFTlNVUkwAlJ0AkoSWlixo
						dHRwczovL2d1YXJkaWFucHJvamVj
						dC5pbmZvL2FwcHMvY2hhdHNlY3Vy
						ZYaGkoSWlhBOU1BhcmFncmFwaFN0
						eWxlhpKEhIQXTlNNdXRhYmxlUGFy
						YWdyYXBoU3R5bGUAhIQQTlNQYXJh
						Z3JhcGhTdHlsZQCUhARDQ0BTBACE
						hIQHTlNBcnJheQCUmQCGgSAChARb
						MmZdFSSGkoSWlhFOU0JhY2tncm91
						bmRDb2xvcoaShJ6dAp8BAQEBhoaX
						Ah+ShJiZBJKjkoSlowQAp4EgAqUV
						JIaSqZKqkpmShJuZJIQFWzM2Y10G
						AAAAGgAAAP/+QQByAGkAYQBsAC0A
						QgBvAGwAZABNAFQAAACcD50AnQGd
						AJ0AhpKckoSenQKfg6uqqj6Dq6qq
						PoOrqqo+AYaGhg==
						</data>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf190
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 ArialMT;}
{\colortbl;\red255\green255\blue255;\red2\green26\blue0;\red255\green255\blue255;\red67\green67\blue67;
}
\deftab720
\pard\pardeftab720\sl420
{\field{\*\fldinst{HYPERLINK "https://guardianproject.info/apps/chatsecure"}}{\fldrslt 
\f0\fs30 \cf2 \cb3 ChatSecure}}
\f0\b\fs30 \cf4 \cb3 : \
Private and Secure Messaging}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{362, 42}, {93, 93}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>47</integer>
					<key>ImageID</key>
					<integer>3</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{174.39932250976562, 135}, {150, 42}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>49</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>0</integer>
						<key>RTFD</key>
						<data>
						BAtzdHJlYW10eXBlZIHoA4QBQISE
						hBJOU0F0dHJpYnV0ZWRTdHJpbmcA
						hIQITlNPYmplY3QAhZKEhIQITlNT
						dHJpbmcBlIQBKxpPcndlYjoKUHJp
						dmF0ZSBXZWIgQnJvd3NlcoaEAmlJ
						AQaShISEDE5TRGljdGlvbmFyeQCU
						hAFpBZKElpYGTlNGb250hpKEhIQG
						TlNGb250HpSZGIQFWzI0Y10GAAAA
						EAAAAP/+QQByAGkAYQBsAE0AVACE
						AWYPhAFjAJ0BnQCdAIaShJaWB05T
						Q29sb3KGkoSEhAdOU0NvbG9yAJSd
						AoQEZmZmZgCDiYgIPgABhpKElpYG
						TlNMaW5rhpKEhIQFTlNVUkwAlJ0A
						koSWlidodHRwczovL2d1YXJkaWFu
						cHJvamVjdC5pbmZvL2FwcHMvb3J3
						ZWKGhpKElpYQTlNQYXJhZ3JhcGhT
						dHlsZYaShISEF05TTXV0YWJsZVBh
						cmFncmFwaFN0eWxlAISEEE5TUGFy
						YWdyYXBoU3R5bGUAlIQEQ0NAUwQA
						hISEB05TQXJyYXkAlJkAhoEgAoQE
						WzJmXRUkhpKElpYRTlNCYWNrZ3Jv
						dW5kQ29sb3KGkoSenQKfAQEBAYaG
						lwIUkoSYmQSSo5KEpaMEAKeBIAKl
						FSSGkqmSqpKZkoSbmSSEBVszNmNd
						BgAAABoAAAD//kEAcgBpAGEAbAAt
						AEIAbwBsAGQATQBUAAAAnA+dAJ0B
						nQCdAIaSnJKEnp0Cn4Orqqo+g6uq
						qj6Dq6qqPgGGhoY=
						</data>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf190
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 ArialMT;}
{\colortbl;\red255\green255\blue255;\red2\green26\blue0;\red255\green255\blue255;\red67\green67\blue67;
}
\deftab720
\pard\pardeftab720\sl420
{\field{\*\fldinst{HYPERLINK "https://guardianproject.info/apps/orweb"}}{\fldrslt 
\f0\fs30 \cf2 \cb3 Orweb:}}
\f0\b\fs30 \cf4 \cb3 \
Private Web Browser}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{166.39932250976562, 21}, {114, 114}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>50</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>48</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{34.29864501953125, 135}, {106, 42}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>52</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>0</integer>
						<key>RTFD</key>
						<data>
						BAtzdHJlYW10eXBlZIHoA4QBQISE
						hBJOU0F0dHJpYnV0ZWRTdHJpbmcA
						hIQITlNPYmplY3QAhZKEhIQITlNT
						dHJpbmcBlIQBKxVPcmJvdDoKUHJv
						eHkgV2l0aCBUb3KGhAJpSQEGkoSE
						hAxOU0RpY3Rpb25hcnkAlIQBaQWS
						hJaWBk5TRm9udIaShISEBk5TRm9u
						dB6UmRiEBVsyNGNdBgAAABAAAAD/
						/kEAcgBpAGEAbABNAFQAhAFmD4QB
						YwCdAZ0AnQCGkoSWlgdOU0NvbG9y
						hpKEhIQHTlNDb2xvcgCUnQKEBGZm
						ZmYAg4mICD4AAYaShJaWBk5TTGlu
						a4aShISEBU5TVVJMAJSdAJKElpYn
						aHR0cHM6Ly9ndWFyZGlhbnByb2pl
						Y3QuaW5mby9hcHBzL29yYm90hoaS
						hJaWEE5TUGFyYWdyYXBoU3R5bGWG
						koSEhBdOU011dGFibGVQYXJhZ3Jh
						cGhTdHlsZQCEhBBOU1BhcmFncmFw
						aFN0eWxlAJSEBENDQFMEAISEhAdO
						U0FycmF5AJSZAIaBIAKEBFsyZl0V
						JIaShJaWEU5TQmFja2dyb3VuZENv
						bG9yhpKEnp0CnwEBAQGGhpcCD5KE
						mJkEkqOShKWjBACngSACpRUkhpKp
						kqqSmZKEm5kkhAVbMzZjXQYAAAAa
						AAAA//5BAHIAaQBhAGwALQBCAG8A
						bABkAE0AVAAAAJwPnQCdAZ0AnQCG
						kpyShJ6dAp+Dq6qqPoOrqqo+g6uq
						qj4BhoaG
						</data>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf190
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 ArialMT;}
{\colortbl;\red255\green255\blue255;\red2\green26\blue0;\red255\green255\blue255;\red67\green67\blue67;
}
\deftab720
\pard\pardeftab720\sl420
{\field{\*\fldinst{HYPERLINK "https://guardianproject.info/apps/orbot"}}{\fldrslt 
\f0\fs30 \cf2 \cb3 Orbot:}}
\f0\b\fs30 \cf4 \cb3 \
Proxy With Tor}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{19, 21}, {114, 114}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>53</integer>
					<key>ImageID</key>
					<integer>1</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>51</integer>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>13</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image12.tiff</string>
		<string>image11.tiff</string>
		<string>image10.tiff</string>
		<string>image9.tiff</string>
		<string>image8.tiff</string>
		<string>image7.tiff</string>
		<string>image6.tiff</string>
		<string>image3.tiff</string>
		<string>image2.tiff</string>
		<string>image1.tiff</string>
	</array>
	<key>KeepToScale</key>
	<true/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2014-03-12 08:26:26 +0000</string>
	<key>Modifier</key>
	<string>Henrik Kramshoej</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSOrientation</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwGG</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{842, 595}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{334, 4}, {1067, 874}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>119</integer>
		<key>VisibleRegion</key>
		<string>{{-64, -99}, {933, 735}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
