a.none
{
font-family: arial;
font-size: 12;
text-decoration: none;
color:black;
}

input
{
border-top-width:1;
border-left-width:1;
border-right-width:1;
border-bottom-width:1;
border-style:solid;
border-color:black;
font-size:12;
font-family: arial
}

textarea
{
border-top-width:1;
border-left-width:1;
border-right-width:1;
border-bottom-width:1;
border-style:solid;
border-color:black;
font-size:12;
font-family: arial

}
select
{
border-top-width:0;
border-left-width:0;
border-right-width:0;
border-bottom-width:0;
border-style:solid;
border-color:black;
font-size:12;
font-family: arial

}
option
{
border-top-width:0;
border-left-width:0;
border-right-width:0;
border-bottom-width:0;
font-size:12;
font-family: arial

}

div.AP
{
padding:2;
border-top-width:1;
border-left-width:1;
border-right-width:1;
border-bottom-width:1;
font-size:10;
font-family:arial;
border-style:solid;
border-color:black;
background-color:#bbbbbb;
text-align:center;
cursor:pointer;
cursor:hand;
width:100%
}

div.policy
{
padding:2;
border-top-width:1;
border-left-width:1;
border-right-width:1;
border-bottom-width:1;
font-size:12;
font-family:arial;
border-style:solid;
border-color:black;
background-color:#bbbbbb;
text-align:center;
cursor:pointer;
cursor:hand;
width:100%
}

div.layer
{
padding:2;
border-top-width:0;
border-left-width:0;
border-right-width:0;
border-bottom-width:0;
font-size:12;
font-family:arial;
border-style:solid
}

div.treelayer
{
padding:1px;
font-size:12;
font-family:arial;
}

div.secureinfobox
{
margin:0px;
border:0px;
font-size:12;
font-family:arial;
}

font
{
font-family: arial;
font-size: 12;
}

td
{
font-family: arial;
font-size: 12;
}

a
{
font-family: arial;
font-size: 10;
text-decoration: none;
color:black;
}

a.policy
{
font-family: arial;
font-size: 12;
font-weight: 900;
color:black;
}
a.policy:HOVER, a.policy:ACTIVE 
{
text-decoration : underline;
}

input.image
{
border-top-width:0;
border-left-width:0;
border-right-width:0;
border-bottom-width:0;
border-style:none;
border-color:clear;
font-size:12;
font-family: arial
}

