<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.16.0.171715</string>
	</array>
	<key>AutoAdjust</key>
	<false/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {806, 536}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2013-05-08 12:12:16 +0000</string>
	<key>Creator</key>
	<string>Henrik Kramshoej</string>
	<key>DisplayScale</key>
	<string>1.000 cm = 1.000 m</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{306.74872675788743, 124.14252841806865}, {50.14310368644847, 66.857471581931293}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>70</integer>
			<key>ImageID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>50</integer>
				<key>Info</key>
				<integer>3</integer>
			</dict>
			<key>ID</key>
			<integer>69</integer>
			<key>Points</key>
			<array>
				<string>{280.931881835816, 131.50078645692815}</string>
				<string>{283.04423041938935, 93.883702278137207}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledBall</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>FilledBall</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>68</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{215, 132}, {129, 49.999992370605469}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>68</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs24 \cf0 Kali/BackTrack\
attacker}</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>50</integer>
				<key>Info</key>
				<integer>7</integer>
			</dict>
			<key>ID</key>
			<integer>67</integer>
			<key>Points</key>
			<array>
				<string>{182.75003152151737, 131.74789380578176}</string>
				<string>{247.60116559720865, 93.883702278137207}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledBall</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>FilledBall</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>66</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{75, 132}, {129, 49.999992370605469}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>66</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 Airport Extreme\
SSID: Kamenet\
WPA: henrik42}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{321.89180660247803, 85.179962158203125}, {35, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>65</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 syslog}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>60</integer>
			</dict>
			<key>ID</key>
			<integer>64</integer>
			<key>Points</key>
			<array>
				<string>{311.78364419937134, 84.952663934885621}</string>
				<string>{387.3081498456487, 85.152212715163927}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledBall</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>FilledBall</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>50</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{182.78363037109375, 67}, {129, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>56</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 Juniper SRX220 firewall}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{488.567156514918, 118.23260498046875}, {67.539690679706098, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>58</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 Kibana Web}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{387.30814984564893, 118.23260498046875}, {50.14310368644847, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>59</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 Logstash}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{387.3081498456487, 53.23260498046875}, {40.933145866488545, 63.94736790628383}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>60</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{487.59435721854567, 67.179968305849343}, {69.485265850316765, 49.999992370605469}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>61</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{441.05585748667761, 72.179958343505859}, {40.933145866488545, 40}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>62</integer>
			<key>Shape</key>
			<string>AdjustableArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>ratio</key>
				<real>0.50000017881393433</real>
				<key>width</key>
				<real>20.000001907348633</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.81593</string>
						<key>r</key>
						<string>0.555535</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.874372</string>
						<key>g</key>
						<string>0.637537</string>
						<key>r</key>
						<string>0.304356</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.4523809552192688</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.4</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>ShadowVector</key>
					<string>{0, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.794995</string>
						<key>g</key>
						<string>0.459724</string>
						<key>r</key>
						<string>0</string>
					</dict>
				</dict>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
			<key>isConnectedShape</key>
			<true/>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{367, 34}, {210.04486083984375, 157}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>63</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 Ubuntu virtual server}</string>
			</dict>
			<key>TextPlacement</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>50</integer>
				<key>Info</key>
				<integer>6</integer>
			</dict>
			<key>ID</key>
			<integer>39</integer>
			<key>Points</key>
			<array>
				<string>{164.25696440051831, 88.058159337564263}</string>
				<string>{208.48344278335571, 88.603609572770083}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledBall</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>FilledBall</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>9</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{69, 67}, {100, 41}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>9</integer>
			<key>Shape</key>
			<string>Cloud</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 Internet}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{208.63194513320923, 81.264802256599069}, {103.00319671630859, 12.470399856567383}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>51</integer>
					<key>Magnets</key>
					<array>
						<string>{-0.1776590496301651, 0.21651269495487213}</string>
						<string>{0.48759260773658752, -0.21651269495487213}</string>
						<string>{0.22895987331867218, -0.21651269495487213}</string>
						<string>{0.22338970005512238, -0.21651269495487213}</string>
						<string>{-0.03524307906627655, -0.21651269495487213}</string>
						<string>{-0.10480526089668274, 0.21229872107505798}</string>
						<string>{-0.06057121604681015, 0.21229872107505798}</string>
						<string>{-0.016337137669324875, 0.21229872107505798}</string>
						<string>{0.027896903455257416, 0.21229872107505798}</string>
						<string>{0.07213098555803299, 0.21229872107505798}</string>
						<string>{0.11636506021022797, 0.21229872107505798}</string>
						<string>{0.20483314990997314, 0.21229872107505798}</string>
						<string>{0.16059914231300354, 0.21229872107505798}</string>
						<string>{-0.23665477335453033, 0.076149903237819672}</string>
						<string>{-0.23665477335453033, 0.29266262054443359}</string>
					</array>
					<key>Notes</key>
					<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs24 \cf0 SRX220H: SRX220 with 2xMini-PIM slots, 8xGE ports, and high memory (1 GB RAM, 1 GB FLASH), External power supply and cord included.}</string>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>archive</key>
								<data>
								YnBsaXN0MDDU
								AQIDBAUGHyBY
								JHZlcnNpb25Y
								JG9iamVjdHNZ
								JGFyY2hpdmVy
								VCR0b3ASAAGG
								oKUHCBEVHFUk
								bnVsbNQJCgsM
								DQ4PEFVOU1JH
								QlxOU0NvbG9y
								U3BhY2VfEBJO
								U0N1c3RvbUNv
								bG9yU3BhY2VW
								JGNsYXNzRjEg
								MSAxABACgAKA
								BNISDBMUVE5T
								SUQQBIAD0hYX
								GBlaJGNsYXNz
								bmFtZVgkY2xh
								c3Nlc1xOU0Nv
								bG9yU3BhY2Wi
								GhtcTlNDb2xv
								clNwYWNlWE5T
								T2JqZWN00hYX
								HR5XTlNDb2xv
								cqIdG18QD05T
								S2V5ZWRBcmNo
								aXZlctEhIlRy
								b290gAEACAAR
								ABoAIwAtADIA
								NwA9AEMATABS
								AF8AdAB7AIIA
								hACGAIgAjQCS
								AJQAlgCbAKYA
								rwC8AL8AzADV
								ANoA4gDlAPcA
								+gD/AAAAAAAA
								AgEAAAAAAAAA
								IwAAAAAAAAAA
								AAAAAAAAAQE=
								</data>
								<key>b</key>
								<string>0.999991</string>
								<key>g</key>
								<string>0.999974</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>archive</key>
								<data>
								YnBsaXN0MDDU
								AQIDBAUGHyBY
								JHZlcnNpb25Y
								JG9iamVjdHNZ
								JGFyY2hpdmVy
								VCR0b3ASAAGG
								oKUHCBEVHFUk
								bnVsbNQJCgsM
								DQ4PEFVOU1JH
								QlxOU0NvbG9y
								U3BhY2VfEBJO
								U0N1c3RvbUNv
								bG9yU3BhY2VW
								JGNsYXNzRjAg
								MCAwABACgAKA
								BNISDBMUVE5T
								SUQQBIAD0hYX
								GBlaJGNsYXNz
								bmFtZVgkY2xh
								c3Nlc1xOU0Nv
								bG9yU3BhY2Wi
								GhtcTlNDb2xv
								clNwYWNlWE5T
								T2JqZWN00hYX
								HR5XTlNDb2xv
								cqIdG18QD05T
								S2V5ZWRBcmNo
								aXZlctEhIlRy
								b290gAEACAAR
								ABoAIwAtADIA
								NwA9AEMATABS
								AF8AdAB7AIIA
								hACGAIgAjQCS
								AJQAlgCbAKYA
								rwC8AL8AzADV
								ANoA4gDlAPcA
								+gD/AAAAAAAA
								AgEAAAAAAAAA
								IwAAAAAAAAAA
								AAAAAAAAAQE=
								</data>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
							<key>ShadowVector</key>
							<string>{9, 9}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>archive</key>
								<data>
								YnBsaXN0MDDU
								AQIDBAUGHyBY
								JHZlcnNpb25Y
								JG9iamVjdHNZ
								JGFyY2hpdmVy
								VCR0b3ASAAGG
								oKUHCBEVHFUk
								bnVsbNQJCgsM
								DQ4PEFVOU1JH
								QlxOU0NvbG9y
								U3BhY2VfEBJO
								U0N1c3RvbUNv
								bG9yU3BhY2VW
								JGNsYXNzRjAg
								MCAwABACgAKA
								BNISDBMUVE5T
								SUQQBIAD0hYX
								GBlaJGNsYXNz
								bmFtZVgkY2xh
								c3Nlc1xOU0Nv
								bG9yU3BhY2Wi
								GhtcTlNDb2xv
								clNwYWNlWE5T
								T2JqZWN00hYX
								HR5XTlNDb2xv
								cqIdG18QD05T
								S2V5ZWRBcmNo
								aXZlctEhIlRy
								b290gAEACAAR
								ABoAIwAtADIA
								NwA9AEMATABS
								AF8AdAB7AIIA
								hACGAIgAjQCS
								AJQAlgCbAKYA
								rwC8AL8AzADV
								ANoA4gDlAPcA
								+gD/AAAAAAAA
								AgEAAAAAAAAA
								IwAAAAAAAAAA
								AAAAAAAAAQE=
								</data>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
							<key>PointAtLeast</key>
							<true/>
							<key>Width</key>
							<real>0.071999996900558472</real>
						</dict>
					</dict>
					<key>UserInfo</key>
					<dict>
						<key>Manufacturer</key>
						<string>Juniper Networks</string>
						<key>Part Number</key>
						<string>SRX220H</string>
						<key>Product Description</key>
						<string>SRX220 with 2xMini-PIM slots, 8xGE ports, and high memory (1 GB RAM, 1 GB FLASH), External power supply and cord included.</string>
						<key>Product Number</key>
						<string>SRX220H</string>
						<key>Rack Units</key>
						<string>2</string>
						<key>View</key>
						<string>Front</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{208.48344278335571, 81.116302490234375}, {103.30020141601562, 12.767399787902832}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>52</integer>
					<key>ImageID</key>
					<integer>3</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>archive</key>
								<data>
								YnBsaXN0MDDU
								AQIDBAUGHyBY
								JHZlcnNpb25Y
								JG9iamVjdHNZ
								JGFyY2hpdmVy
								VCR0b3ASAAGG
								oKUHCBEVHFUk
								bnVsbNQJCgsM
								DQ4PEFVOU1JH
								QlxOU0NvbG9y
								U3BhY2VfEBJO
								U0N1c3RvbUNv
								bG9yU3BhY2VW
								JGNsYXNzRjEg
								MSAxABACgAKA
								BNISDBMUVE5T
								SUQQBIAD0hYX
								GBlaJGNsYXNz
								bmFtZVgkY2xh
								c3Nlc1xOU0Nv
								bG9yU3BhY2Wi
								GhtcTlNDb2xv
								clNwYWNlWE5T
								T2JqZWN00hYX
								HR5XTlNDb2xv
								cqIdG18QD05T
								S2V5ZWRBcmNo
								aXZlctEhIlRy
								b290gAEACAAR
								ABoAIwAtADIA
								NwA9AEMATABS
								AF8AdAB7AIIA
								hACGAIgAjQCS
								AJQAlgCbAKYA
								rwC8AL8AzADV
								ANoA4gDlAPcA
								+gD/AAAAAAAA
								AgEAAAAAAAAA
								IwAAAAAAAAAA
								AAAAAAAAAQE=
								</data>
								<key>b</key>
								<string>0.999991</string>
								<key>g</key>
								<string>0.999974</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>archive</key>
								<data>
								YnBsaXN0MDDU
								AQIDBAUGHyBY
								JHZlcnNpb25Y
								JG9iamVjdHNZ
								JGFyY2hpdmVy
								VCR0b3ASAAGG
								oKUHCBEVHFUk
								bnVsbNQJCgsM
								DQ4PEFVOU1JH
								QlxOU0NvbG9y
								U3BhY2VfEBJO
								U0N1c3RvbUNv
								bG9yU3BhY2VW
								JGNsYXNzRjAg
								MCAwABACgAKA
								BNISDBMUVE5T
								SUQQBIAD0hYX
								GBlaJGNsYXNz
								bmFtZVgkY2xh
								c3Nlc1xOU0Nv
								bG9yU3BhY2Wi
								GhtcTlNDb2xv
								clNwYWNlWE5T
								T2JqZWN00hYX
								HR5XTlNDb2xv
								cqIdG18QD05T
								S2V5ZWRBcmNo
								aXZlctEhIlRy
								b290gAEACAAR
								ABoAIwAtADIA
								NwA9AEMATABS
								AF8AdAB7AIIA
								hACGAIgAjQCS
								AJQAlgCbAKYA
								rwC8AL8AzADV
								ANoA4gDlAPcA
								+gD/AAAAAAAA
								AgEAAAAAAAAA
								IwAAAAAAAAAA
								AAAAAAAAAQE=
								</data>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
							<key>ShadowVector</key>
							<string>{9, 9}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>archive</key>
								<data>
								YnBsaXN0MDDU
								AQIDBAUGHyBY
								JHZlcnNpb25Y
								JG9iamVjdHNZ
								JGFyY2hpdmVy
								VCR0b3ASAAGG
								oKUHCBEVHFUk
								bnVsbNQJCgsM
								DQ4PEFVOU1JH
								QlxOU0NvbG9y
								U3BhY2VfEBJO
								U0N1c3RvbUNv
								bG9yU3BhY2VW
								JGNsYXNzRjAg
								MCAwABACgAKA
								BNISDBMUVE5T
								SUQQBIAD0hYX
								GBlaJGNsYXNz
								bmFtZVgkY2xh
								c3Nlc1xOU0Nv
								bG9yU3BhY2Wi
								GhtcTlNDb2xv
								clNwYWNlWE5T
								T2JqZWN00hYX
								HR5XTlNDb2xv
								cqIdG18QD05T
								S2V5ZWRBcmNo
								aXZlctEhIlRy
								b290gAEACAAR
								ABoAIwAtADIA
								NwA9AEMATABS
								AF8AdAB7AIIA
								hACGAIgAjQCS
								AJQAlgCbAKYA
								rwC8AL8AzADV
								ANoA4gDlAPcA
								+gD/AAAAAAAA
								AgEAAAAAAAAA
								IwAAAAAAAAAA
								AAAAAAAAAQE=
								</data>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
							<key>PointAtLeast</key>
							<true/>
							<key>Width</key>
							<real>0.071999996900558472</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>GroupConnect</key>
			<string>YES</string>
			<key>ID</key>
			<integer>50</integer>
			<key>Magnets</key>
			<array>
				<string>{-0.17858582735061646, 0.22310727834701538}</string>
				<string>{0.48475313186645508, -0.19984491169452667}</string>
				<string>{0.22686399519443512, -0.19984491169452667}</string>
				<string>{0.2213098406791687, -0.19984491169452667}</string>
				<string>{-0.036579329520463943, -0.19984491169452667}</string>
				<string>{-0.10594150424003601, 0.21899133920669556}</string>
				<string>{-0.06183464452624321, 0.21899133920669556}</string>
				<string>{-0.017727745696902275, 0.21899133920669556}</string>
				<string>{0.026379115879535675, 0.21899133920669556}</string>
				<string>{0.070486016571521759, 0.21899133920669556}</string>
				<string>{0.11459290981292725, 0.21899133920669556}</string>
				<string>{0.20280663669109344, 0.21899133920669556}</string>
				<string>{0.15869981050491333, 0.21899133920669556}</string>
				<string>{-0.23741193115711212, 0.086009658873081207}</string>
				<string>{-0.23741193115711212, 0.29748576879501343}</string>
			</array>
			<key>Notes</key>
			<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs24 \cf0 SRX220H: SRX220 with 2xMini-PIM slots, 8xGE ports, and high memory (1 GB RAM, 1 GB FLASH), External power supply and cord included.}</string>
			<key>UserInfo</key>
			<dict>
				<key>Manufacturer</key>
				<string>Juniper Networks</string>
				<key>Part Number</key>
				<string>SRX220H</string>
				<key>Product Description</key>
				<string>SRX220 with 2xMini-PIM slots, 8xGE ports, and high memory (1 GB RAM, 1 GB FLASH), External power supply and cord included.</string>
				<key>Product Number</key>
				<string>SRX220H</string>
				<key>Rack Units</key>
				<string>2</string>
				<key>View</key>
				<string>Front</string>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>5</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image4.jpg</string>
		<string>image3.emf</string>
		<string>image2.png</string>
		<string>image1.png</string>
	</array>
	<key>KeepToScale</key>
	<true/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2013-05-08 12:23:07 +0000</string>
	<key>Modifier</key>
	<string>Henrik Kramshoej</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSOrientation</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwGG</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{842, 595}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{106, 4}, {960, 874}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>119</integer>
		<key>VisibleRegion</key>
		<string>{{-10, -99}, {826, 735}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
