<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.16.0.171715</string>
	</array>
	<key>AutoAdjust</key>
	<false/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {806, 536}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2013-05-08 09:09:47 +0000</string>
	<key>Creator</key>
	<string>Henrik Kramshoej</string>
	<key>DisplayScale</key>
	<string>1.000 cm = 1.000 m</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{458.00003051757812, 86}, {322, 244}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>166</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs20 \cf0 user@router# show interfaces\
ge-0/0/0 \{\
	unit 2 \{\
		family inet \{\
			rpf-check fail-filter rpf-special-case-dhcp;\
			address 192.168.0.254/24;\
		\}\
	\}\
\}\
ge-0/0/1 \{\
	unit 2 \{\
		family inet \{\
			rpf-check fail-filter rpf-special-case-dhcp;\
			address 10.40.0.254/24;\
		\}\
	\}\
\}\
}</string>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>158</integer>
				<key>Info</key>
				<integer>14</integer>
			</dict>
			<key>ID</key>
			<integer>162</integer>
			<key>Points</key>
			<array>
				<string>{388.12686373837647, 213.5023296695702}</string>
				<string>{385.80141432079824, 189.49699974060059}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledBall</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>FilledBall</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>158</integer>
				<key>Info</key>
				<integer>11</integer>
			</dict>
			<key>ID</key>
			<integer>161</integer>
			<key>Points</key>
			<array>
				<string>{310.33905955332938, 213.75371814481201}</string>
				<string>{353.19655871516511, 189.49699974060059}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledBall</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>FilledBall</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>4</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{335.00000762939453, 214}, {111, 48.000007629394531}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 Customer2\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc
\cf0 10.40.0.0/24}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{212, 214}, {111, 48}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>9</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 customer1\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc
\cf0 192.168.0.0/24}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{206, 111.49699974060059}, {100, 41}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>9</integer>
			<key>Shape</key>
			<string>Cloud</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 Internet}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>158</integer>
				<key>Info</key>
				<integer>9</integer>
			</dict>
			<key>ID</key>
			<integer>39</integer>
			<key>Points</key>
			<array>
				<string>{272.60292381520281, 150.78385538842051}</string>
				<string>{290.60000164334315, 171.14825066018929}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledBall</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>FilledBall</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>9</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{278.14849853515625, 164.14850044250488}, {136.80000305175781, 25.200000762939453}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>159</integer>
					<key>Magnets</key>
					<array>
						<string>{-0.0057790433056652546, 0.23871192336082458}</string>
						<string>{-0.005556909367442131, 0.36092302203178406}</string>
						<string>{0.040931478142738342, 0.180803582072258}</string>
						<string>{0.041971262544393539, 0.33616071939468384}</string>
						<string>{-0.051831666380167007, 0.180803582072258}</string>
						<string>{-0.050791885703802109, 0.33616071939468384}</string>
						<string>{0.29671049118041992, -0.2281249463558197}</string>
						<string>{-0.054440803825855255, -0.2281249463558197}</string>
						<string>{-0.40789473056793213, -0.2281249463558197}</string>
						<string>{-0.43476265668869019, -0.39641106128692627}</string>
						<string>{0.095512993633747101, 0.36000001430511475}</string>
						<string>{0.15883535146713257, 0.35776785016059875}</string>
						<string>{0.22215776145458221, 0.36000001430511475}</string>
						<string>{0.28548011183738708, 0.35776785016059875}</string>
						<string>{-0.17121082544326782, 0.27027899026870728}</string>
						<string>{-0.32243889570236206, 0.27027899026870728}</string>
					</array>
					<key>Notes</key>
					<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs24 \cf0 MX80-48T-DC: The MX80 3D Universal Edge Router DC chassis}</string>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>archive</key>
								<data>
								YnBsaXN0MDDU
								AQIDBAUGHyBY
								JHZlcnNpb25Y
								JG9iamVjdHNZ
								JGFyY2hpdmVy
								VCR0b3ASAAGG
								oKUHCBEVHFUk
								bnVsbNQJCgsM
								DQ4PEFVOU1JH
								QlxOU0NvbG9y
								U3BhY2VfEBJO
								U0N1c3RvbUNv
								bG9yU3BhY2VW
								JGNsYXNzRjEg
								MSAxABACgAKA
								BNISDBMUVE5T
								SUQQBIAD0hYX
								GBlaJGNsYXNz
								bmFtZVgkY2xh
								c3Nlc1xOU0Nv
								bG9yU3BhY2Wi
								GhtcTlNDb2xv
								clNwYWNlWE5T
								T2JqZWN00hYX
								HR5XTlNDb2xv
								cqIdG18QD05T
								S2V5ZWRBcmNo
								aXZlctEhIlRy
								b290gAEACAAR
								ABoAIwAtADIA
								NwA9AEMATABS
								AF8AdAB7AIIA
								hACGAIgAjQCS
								AJQAlgCbAKYA
								rwC8AL8AzADV
								ANoA4gDlAPcA
								+gD/AAAAAAAA
								AgEAAAAAAAAA
								IwAAAAAAAAAA
								AAAAAAAAAQE=
								</data>
								<key>b</key>
								<string>0.999991</string>
								<key>g</key>
								<string>0.999974</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>archive</key>
								<data>
								YnBsaXN0MDDU
								AQIDBAUGHyBY
								JHZlcnNpb25Y
								JG9iamVjdHNZ
								JGFyY2hpdmVy
								VCR0b3ASAAGG
								oKUHCBEVHFUk
								bnVsbNQJCgsM
								DQ4PEFVOU1JH
								QlxOU0NvbG9y
								U3BhY2VfEBJO
								U0N1c3RvbUNv
								bG9yU3BhY2VW
								JGNsYXNzRjAg
								MCAwABACgAKA
								BNISDBMUVE5T
								SUQQBIAD0hYX
								GBlaJGNsYXNz
								bmFtZVgkY2xh
								c3Nlc1xOU0Nv
								bG9yU3BhY2Wi
								GhtcTlNDb2xv
								clNwYWNlWE5T
								T2JqZWN00hYX
								HR5XTlNDb2xv
								cqIdG18QD05T
								S2V5ZWRBcmNo
								aXZlctEhIlRy
								b290gAEACAAR
								ABoAIwAtADIA
								NwA9AEMATABS
								AF8AdAB7AIIA
								hACGAIgAjQCS
								AJQAlgCbAKYA
								rwC8AL8AzADV
								ANoA4gDlAPcA
								+gD/AAAAAAAA
								AgEAAAAAAAAA
								IwAAAAAAAAAA
								AAAAAAAAAQE=
								</data>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
							<key>ShadowVector</key>
							<string>{9, 9}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>archive</key>
								<data>
								YnBsaXN0MDDU
								AQIDBAUGHyBY
								JHZlcnNpb25Y
								JG9iamVjdHNZ
								JGFyY2hpdmVy
								VCR0b3ASAAGG
								oKUHCBEVHFUk
								bnVsbNQJCgsM
								DQ4PEFVOU1JH
								QlxOU0NvbG9y
								U3BhY2VfEBJO
								U0N1c3RvbUNv
								bG9yU3BhY2VW
								JGNsYXNzRjAg
								MCAwABACgAKA
								BNISDBMUVE5T
								SUQQBIAD0hYX
								GBlaJGNsYXNz
								bmFtZVgkY2xh
								c3Nlc1xOU0Nv
								bG9yU3BhY2Wi
								GhtcTlNDb2xv
								clNwYWNlWE5T
								T2JqZWN00hYX
								HR5XTlNDb2xv
								cqIdG18QD05T
								S2V5ZWRBcmNo
								aXZlctEhIlRy
								b290gAEACAAR
								ABoAIwAtADIA
								NwA9AEMATABS
								AF8AdAB7AIIA
								hACGAIgAjQCS
								AJQAlgCbAKYA
								rwC8AL8AzADV
								ANoA4gDlAPcA
								+gD/AAAAAAAA
								AgEAAAAAAAAA
								IwAAAAAAAAAA
								AAAAAAAAAQE=
								</data>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
							<key>PointAtLeast</key>
							<true/>
							<key>Width</key>
							<real>0.071999996900558472</real>
						</dict>
					</dict>
					<key>UserInfo</key>
					<dict>
						<key>Manufacturer</key>
						<string>Juniper Networks</string>
						<key>Part Number</key>
						<string>MX80-48T-DC</string>
						<key>Product Description</key>
						<string>The MX80 3D Universal Edge Router DC chassis</string>
						<key>Product Number</key>
						<string>MX80-48T-DC</string>
						<key>View</key>
						<string>Front</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{278, 164}, {137.09700012207031, 25.496999740600586}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>160</integer>
					<key>ImageID</key>
					<integer>1</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>archive</key>
								<data>
								YnBsaXN0MDDU
								AQIDBAUGHyBY
								JHZlcnNpb25Y
								JG9iamVjdHNZ
								JGFyY2hpdmVy
								VCR0b3ASAAGG
								oKUHCBEVHFUk
								bnVsbNQJCgsM
								DQ4PEFVOU1JH
								QlxOU0NvbG9y
								U3BhY2VfEBJO
								U0N1c3RvbUNv
								bG9yU3BhY2VW
								JGNsYXNzRjEg
								MSAxABACgAKA
								BNISDBMUVE5T
								SUQQBIAD0hYX
								GBlaJGNsYXNz
								bmFtZVgkY2xh
								c3Nlc1xOU0Nv
								bG9yU3BhY2Wi
								GhtcTlNDb2xv
								clNwYWNlWE5T
								T2JqZWN00hYX
								HR5XTlNDb2xv
								cqIdG18QD05T
								S2V5ZWRBcmNo
								aXZlctEhIlRy
								b290gAEACAAR
								ABoAIwAtADIA
								NwA9AEMATABS
								AF8AdAB7AIIA
								hACGAIgAjQCS
								AJQAlgCbAKYA
								rwC8AL8AzADV
								ANoA4gDlAPcA
								+gD/AAAAAAAA
								AgEAAAAAAAAA
								IwAAAAAAAAAA
								AAAAAAAAAQE=
								</data>
								<key>b</key>
								<string>0.999991</string>
								<key>g</key>
								<string>0.999974</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>archive</key>
								<data>
								YnBsaXN0MDDU
								AQIDBAUGHyBY
								JHZlcnNpb25Y
								JG9iamVjdHNZ
								JGFyY2hpdmVy
								VCR0b3ASAAGG
								oKUHCBEVHFUk
								bnVsbNQJCgsM
								DQ4PEFVOU1JH
								QlxOU0NvbG9y
								U3BhY2VfEBJO
								U0N1c3RvbUNv
								bG9yU3BhY2VW
								JGNsYXNzRjAg
								MCAwABACgAKA
								BNISDBMUVE5T
								SUQQBIAD0hYX
								GBlaJGNsYXNz
								bmFtZVgkY2xh
								c3Nlc1xOU0Nv
								bG9yU3BhY2Wi
								GhtcTlNDb2xv
								clNwYWNlWE5T
								T2JqZWN00hYX
								HR5XTlNDb2xv
								cqIdG18QD05T
								S2V5ZWRBcmNo
								aXZlctEhIlRy
								b290gAEACAAR
								ABoAIwAtADIA
								NwA9AEMATABS
								AF8AdAB7AIIA
								hACGAIgAjQCS
								AJQAlgCbAKYA
								rwC8AL8AzADV
								ANoA4gDlAPcA
								+gD/AAAAAAAA
								AgEAAAAAAAAA
								IwAAAAAAAAAA
								AAAAAAAAAQE=
								</data>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
							<key>ShadowVector</key>
							<string>{9, 9}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>archive</key>
								<data>
								YnBsaXN0MDDU
								AQIDBAUGHyBY
								JHZlcnNpb25Y
								JG9iamVjdHNZ
								JGFyY2hpdmVy
								VCR0b3ASAAGG
								oKUHCBEVHFUk
								bnVsbNQJCgsM
								DQ4PEFVOU1JH
								QlxOU0NvbG9y
								U3BhY2VfEBJO
								U0N1c3RvbUNv
								bG9yU3BhY2VW
								JGNsYXNzRjAg
								MCAwABACgAKA
								BNISDBMUVE5T
								SUQQBIAD0hYX
								GBlaJGNsYXNz
								bmFtZVgkY2xh
								c3Nlc1xOU0Nv
								bG9yU3BhY2Wi
								GhtcTlNDb2xv
								clNwYWNlWE5T
								T2JqZWN00hYX
								HR5XTlNDb2xv
								cqIdG18QD05T
								S2V5ZWRBcmNo
								aXZlctEhIlRy
								b290gAEACAAR
								ABoAIwAtADIA
								NwA9AEMATABS
								AF8AdAB7AIIA
								hACGAIgAjQCS
								AJQAlgCbAKYA
								rwC8AL8AzADV
								ANoA4gDlAPcA
								+gD/AAAAAAAA
								AgEAAAAAAAAA
								IwAAAAAAAAAA
								AAAAAAAAAQE=
								</data>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
							<key>PointAtLeast</key>
							<true/>
							<key>Width</key>
							<real>0.071999996900558472</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>GroupConnect</key>
			<string>YES</string>
			<key>ID</key>
			<integer>158</integer>
			<key>Magnets</key>
			<array>
				<string>{-0.0068496880121529102, 0.24175550043582916}</string>
				<string>{-0.0066280355677008629, 0.36254304647445679}</string>
				<string>{0.039759643375873566, 0.18452171981334686}</string>
				<string>{0.040797173976898193, 0.33806920051574707}</string>
				<string>{-0.052802547812461853, 0.18452171981334686}</string>
				<string>{-0.051765017211437225, 0.33806920051574707}</string>
				<string>{0.29498454928398132, -0.21964345872402191}</string>
				<string>{-0.055406030267477036, -0.21964345872402191}</string>
				<string>{-0.40809425711631775, -0.21964345872402191}</string>
				<string>{-0.43490397930145264, -0.38596931099891663}</string>
				<string>{0.094222910702228546, 0.36163076758384705}</string>
				<string>{0.15740808844566345, 0.3594246506690979}</string>
				<string>{0.22059333324432373, 0.36163076758384705}</string>
				<string>{0.28377851843833923, 0.3594246506690979}</string>
				<string>{-0.17192310094833374, 0.27295485138893127}</string>
				<string>{-0.32282355427742004, 0.27295485138893127}</string>
			</array>
			<key>Notes</key>
			<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs24 \cf0 MX80-48T-DC: The MX80 3D Universal Edge Router DC chassis}</string>
			<key>UserInfo</key>
			<dict>
				<key>Manufacturer</key>
				<string>Juniper Networks</string>
				<key>Part Number</key>
				<string>MX80-48T-DC</string>
				<key>Product Description</key>
				<string>The MX80 3D Universal Edge Router DC chassis</string>
				<key>Product Number</key>
				<string>MX80-48T-DC</string>
				<key>View</key>
				<string>Front</string>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>2</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image1.emf</string>
	</array>
	<key>KeepToScale</key>
	<true/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2013-05-08 09:25:35 +0000</string>
	<key>Modifier</key>
	<string>Henrik Kramshoej</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSOrientation</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwGG</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{842, 595}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{196, 4}, {1106, 874}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>119</integer>
		<key>VisibleRegion</key>
		<string>{{-83, -99}, {972, 735}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
